# '%i' becomes 'virbr10' when running `systemctl start dnsmasq@virbr10.service`
# Remember to run `systemctl daemon-reload` after creating or editing this file.

[Unit]
Description=Firewall Zones for %i
After=network-online.target libvirtd.service firewalld.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/vmnetctl create-zones
ExecStop=/usr/local/bin/vmnetctl delete-zones

[Install]
WantedBy=multi-user.target
